@import '~antd/dist/antd.css';

.loge{
    height:10vh;
    background: blue;
    font-size: medium;

}

#components-layout-demo-side .logo {
    height: 320px;
    background: rgba(255, 25, 32, 0.2);
    margin: 16px;
}

.ant-layout-sider-trigger{

    background-color: #1890ff;
}

